@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.test {

  width: 100%;
  height: 100%;
  // position: absolute;
  // inset: 0;
  // display: table;
  margin-left: auto;
  margin-right: auto;
// 
  background-color: blue !important;

  // }
}

.owl-dots {
  display: none;
}
.owl-nav {
  display: none;
}

.owl-carousel {
  transform: rotate(90deg);
  // position: absolute;
  // position: relative;
  // position: absolute;
  // display: inline-block;
  // left: 0;
  // right: 0;
  background-color: $purple_underline;
  // top: 0;
  // right: 0;

  // top: -187px;
  // left: 0;

  .owl-item {
    img {
      width: unset;
    }
  }

  .item {
    transform: rotate(-90deg);
    // width: 100%;
    height: 900px;
    // margin-bottom: 800px;
    position: relative;
    // left: -100px;
    // bottom: 30%;
    left: 100px;
    // transform: translateY(-50%);
  }
}
.owl-stage-outer {
  overflow: unset;
  // margin-left: 200px;
  // height: 100%;
  // position: unset;

  .owl-stage {
    display: flex;
    // background-color: rgb(196, 99, 99);
    // position: unset;
  }
}

body {
  // overflow-x: hidden;
  font-family: $primary_font;
  line-height: 24px;
  font-size: 16px;
  color: white;
  background: $primary_bg;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background: $primary_bg;
  height: 100%;
}

.main {
  display: flex;
  // background-color: white;
  &__page {
    width: 100%;
    flex: 1;
    padding-top: 40px;
  }
}

.container {
  max-width: 1634px;
  margin: 0 83px;
}
.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 4px 12px;
  border: 0;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
  &--white {
    background-color: white;
    color: black;
  }
  &--gray {
    background: rgba(0, 0, 0, 0.25);
    color: white;
  }
  &--blue {
    color: white;
    background-color: $blue_btn;
  }
  &--red {
    color: white;
    background-color: $red_bg;
  }
}

.common-dialog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 44px 40px;
  color: white;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 15px;
  }

  &__title {
    @include replace-font(500, 24px, 33.6px);
  }
  &__footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 25px;
    display: flex;
    gap: 16px;
    justify-content: end;
    button {
      min-width: 88px;
    }
  }
}

.disabled-link {
  pointer-events: none;
}

.player {
  .vjs-has-started .vjs-control-bar {
    opacity: 0;
  }
  .video-js.vjs-fluid {
    border-radius: 24px;
  }
  .video-js .vjs-tech {
    border-radius: 24px;
  }
}
