.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &__logo {
    margin-top: 16px;
  }

  &__menuIcon {
    font-size: small;
    width: 30px;
    color: white;
    margin-left: 45px;
    margin-right: 45px;
  }
  .searchBox {
    margin-left: auto;
    margin-right: auto;
    // margin-top: 12px;
    max-width: 720px;
    width: 100%;
    background: $primary_bg;

    display: flex;
    position: relative;
    height: 56px;
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
  }
  &__searchInput {
    flex: 1;
    outline: none;
    background: transparent;
    color: white;
    height: 100%;
    font-size: 16px;
    border: none;
    &:focus {
      outline: none;
    }
  }
  &__searchIcon {
    font-size: large;
    width: 24px;
    color: white;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 40px 20px 0;
  }
  &__btnBuy {
    padding: 8px 16px;
  }
  &__bellIcon {
    // font-size: small;
    width: 24px;
    color: white;
  }

  &__line {
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
  }
}
