.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 120px;
  margin-right: auto;
  padding: 16px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  min-height: 100%;
}

.menu {
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
    padding: 25px 6px 22px 6px;
    border-radius: 12px;
    &:hover {
      background-color: #1a1d2a;
    }
  }
  &__show {
    flex-direction: row;
  }

  &__des {
    font-size: 14px;
    text-align: center;
    color: white;
  }
  &-show {
    width: 266px;
  }
}
.sidebar.show-sidebar {
  width: 266px;
  padding: 24px;
  position: relative;

  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 12px;
    row-gap: 16px;

    &__item {
      padding: 11.5px 16px;
      gap: 10px;
    }
  }
  .sidebar__line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 16px;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  &__des {
    font-weight: 500;
  }
  &__button {
    padding: 11px 23px;
    border-radius: 24px;
    color: white;
    background-color: $blue_btn;
    font-weight: 600;
    border: none;
    font-size: 16px;
  }
}

.channels-pri {
  width: 100%;

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .channel {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding: 4px 12px;
    &__avatar {
      border-radius: 100%;
      margin-right: 12px;
    }
    &__des {
      display: flex;
      flex-direction: column;
    }
    &__name {
      font-weight: 500;
    }
    &__follow {
      font-weight: 500;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &__view {
    font-size: 14px;
    color: #ec2227;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 16px;
    cursor: pointer;
  }
}
.discovery {
  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &__tags {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  &__tag {
    padding: 4px 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
.service {
  width: 100%;
  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &__options {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
  }
  &__option {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 4px 12px;
  }
  &__des {
    font-size: 14px;
    font-weight: 500;
    margin-left: 14px;
  }
}

.response {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    gap: 10px;
    margin-bottom: 16px;
    &:hover {
      background-color: #1a1d2a;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  &__title {
    font-weight: 600;
    font-size: 14px;
    // color: rgba(255, 255, 255, 0.6);
  }
  &__des {
    line-height: 20px;
    font-size: 14px;
    span {
      font-weight: 700;
    }
  }
  &__number {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    span {
      font-weight: 700;
    }
  }
  &__follow {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  &__icon {
    cursor: pointer;
  }
  &__download {
    margin-top: 24px;
    padding: 0 8px;
  }
}
